Source: murmur3
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    debhelper,
    doxygen,
    graphviz,
    libexcept-dev (>= 1.1.0.0~bionic),
    snapcatch2 (>= 2.7.2.10~bionic),
    snapcmakemodules (>= 1.0.35.3~bionic),
    snapdev (>= 1.0.0.0~bionic)
Standards-Version: 3.9.4
Section: libs
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/murmur3.git
Vcs-Browser: https://github.com/m2osw/murmur3

Package: murmur3-dev
Section: libdevel
Architecture: any
Depends: murmur3 (= ${binary:Version}), ${misc:Depends}
Description: Development package for the Murmur3 library.
 Provides the Murmur3 Hash functions in a library.

Package: murmur3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C library offering a Murmur3 Hash implementation.
 Provides the Murmur3 Hash functions in a library.

# vim: ts=4 sw=4 et
